.products, .why-us, .assistance, .faq{
    border: 1px solid black;

}
.why-us{
    height: 350px;
    width : 70%;
    background-color: lightgrey;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3%;
}

.products{
    background-color:

            lightgrey;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
}

::placeholder{
    color: black;
}

.assistance,.faq{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-bottom: 2%;
    width: 47%;
}

.faq{
    position: absolute;
    right: 0;
    margin-right: 3%;
}

.assistance{
    margin-left: 3%;
}

.assistance p,.faq p{
    margin-right: 7%;
    margin-left: 7%;
}

.form-container{
    display: flex;
}
