.products, .why-us, .assistance, .form-field, .faq{
    border: 1px solid black;

}
.presentation-picture{
    display: flex;
    height: 350px;
    width : 70%;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3%;
}

.form-field{
    display: flex;
    width: 15%;
    background-color: lightgrey;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 3.5%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}

input
{
    margin-top: 20px;
    font-size: 100%;
    border : 1px solid black;
    justify-content: center;
    width: 100%;
}

.link-mdp-oubie{
    display: flex;
    font-size: small;
    justify-content: flex-end;
    color: grey;
    padding-right: 2%;
}

.link-mdp-oubie + label{
    justify-content: flex-start;
    text-align: left;
}

.checkbox{
    margin-top: 0px;
    position: absolute;
    right: 0;
}

.inscription
{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.products{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.why-us{
    display: flex;
    background-color: lightgrey;
    padding-left: 1%;
    height: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
}

::placeholder{
    color: black;
}

nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.assistance,.faq{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-bottom: 2%;
    width: 47%;
}

.faq{
    position: absolute;
    right: 0;
    margin-right: 3%;
}

.assistance{
    margin-left: 3%;
}

.assistance p,.faq p{
    margin-right: 7%;
    margin-left: 7%;
}
