.products, .assistance, .faq, .why-us{
    border: 1px solid black;
}
.why-us {
    height: 351px;
    width : 70%;
    margin-top: 15px;
    margin-bottom: 2%;
    margin-left: 3%;
    padding-left: 1%;
    background-image: url("../../ressources/pictures/domotique.JPG");
    background-size: 100%;
}


.products{
    background-color: lightgray;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
    font-size: 110%;
}

::placeholder{
    color: black;
}

.assistance,.faq{
    display: flex;
    background-color: lightgray;
    justify-content: center;
    text-align: center;
    height: 250px;
    margin-bottom: 2%;
    width: 47%;
}

.faq{
    position: absolute;
    right: 0;
    margin-right: 3%;
    background-color: lightgray;
}

.assistance{
    margin-left: 3%;
    background-color: lightgray;
}

.assistance p{
    width: 100%;
    height: auto;
    margin: auto;
}

.form-container{
    display: flex;
}

.header-title a img {
    animation : opacity 3s 1;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.my-house-state{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: lightgray;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 46%;
    margin-right: 3.5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    height: 345px;
    overflow-y: auto;
    overflow-x: hidden;
}

.my-house-state input[type="checkbox"]
{
    font-size: 100%;
    width: 100%;
    position: absolute;
    left: 20%;
}

.light input[type="checkbox"]{
    width: 10%;
    height: auto;
    margin-left: 60%;
}

.my-house-state h3{
    font-weight: bold;
}

.my-house-state h4{
    text-decoration: underline;
}

.house-choice{
    font-size: 17px;
}

.logo_Assistance{
    height: 50%;


    display: block;
    margin-left: auto;
    margin-right: auto;


    margin-top: 4.7%;
    margin-bottom: 1%;

}

.logo_FAQ{
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2%;
    margin-bottom: 1%;
}


