.form-field{
    border: 1px solid black;
    display: flex;
    width: 15%;
    background-color: lightgray;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 3.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 350px;
    flex-direction: column;
}

input, button
{
    margin-top: 20px;
    font-size: 100%;
    border : 1px solid black;
    justify-content: center;
    width: 90%;
    padding-left: 1%;
    background-color: white;
}

.link-mdp-oubie{
    display: flex;
    font-size: small;
    justify-content: flex-end;
    color: grey;
    padding-right: 2%;
}

.link-mdp-oubie + label{
    justify-content: flex-start;
    text-align: left;
}

.checkbox{
    margin-top: 0px;
    position: absolute;
    right: 0;
}

