.capteurlumiere{
    border: 2px solid black;
    height: 30%;
    width : 15%;
}

.capteurtemperature{
    border: 2px solid black;
    height: 20%;
    width : 15%;
}

.microelectret{
    border: 2px solid black;
    height: 3%;
    width : 15%;
}

.capteurs {
    display : flex;
    flex-direction: column;
}