h1{
    text-align: center;
}
.display-autrespieces{
    background-color: lightgrey;
    margin: auto;
    padding : 1%;
    border : 1px solid black;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}


.display-autrespieces form{
    background-image: url("../../ressources/pictures/bureau2.jpg");
    width: 20%;
    height: auto;
    padding: 2%;
    border : 1px solid black;
    background-size: 100%;
    font-weight: bold;
}

.display-autrespieces.use-case, .display-chambre.use-case-volets {
    text-align: center;
}

.display-autrespieces ul{
    list-style-type: none;
}
