
.container-changermdp{
    background-color: lightgray;
    border: 1px black solid;
    width:50%;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    display:flex;

}

.formulairemotdepasseoublie{
    width:50%;
    margin:auto;
}

.titlemotdepasseoublie{
    padding: 0.5%;
    width:36%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 23%;

}

.noteemail{
    background-color: white;
    border: 1px black solid;

    padding: 1%;
    width:36%;
    margin: auto;
}