.partiedonneespersonnelles{
    border: 3px black solid;

    padding: 0.5%;
    width:90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: lightgrey;
}

.titledonneespersonnelles{
    text-align: center;
}


.textedonneespersonnelles{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: justify;
}



.partiecadreassistanceFAQ{
    border: 2px black solid;

    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
}
.cadreassistance{

    background-color: lightgrey;
    border: 2px black solid;
    width: 50%;

}

.cadreFAQ{
    background-color: lightgrey;
    border: 2px black solid;
    width: 50%;
}

.logo_Assistance{
    height: 50%;
    weight: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;


    margin-top: 2%;
    margin-bottom: 1%;

}

.logo_FAQ{
    height: 50%;
    weight: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2%;
    margin-bottom: 1%;
}

p,h2{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

h2{

}