.FAQ{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
    margin: auto;
    text-align: justify;

}

.FAQ h1{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;
    margin-bottom: 5%;

}

.question{
    font-weight: bold;
    text-align: left;
    font-size: 130%;
    margin-left: 2%;
    margin-right: 2%;

    color: #ff9900;
    font-weight: bold;
    margin-bottom: 2%;
    width: 80%;
    cursor:pointer;
}


#question_1,#question_2,#question_3,#question_4,#question_5,#question_6,#question_7,#question_8,#question_9 {
    display: none;
    width: 80%;
    height: auto;
    font-size: 120%;
    margin-left: 11%;
    margin-right:2%;
    margin-bottom: 1%;
    text-align: justify;
    width: 80%;
}

.question{
    hover:black;
    border: 2px solid black;
}
