footer{
    border: 1px solid black;
    display: flex;

}

a{
    color: black;
    text-decoration: none ;
}

.footer-links{
    display : flex;
}

.footer-links ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
}

.footer-links li{
    margin-right: 5%;
    background-color: lightgrey;
    border: 1px solid black;
    line-height: 50px;
    width: auto;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}

.droit-reserve{
    font-size : 200%;
    font-weight: bold;
    line-height: 80px;
    justify-content: flex-start;
    display: flex;
    margin-left: 1%;

}


