h1{
    text-align: center;
}
.titre,.texte, .post-button{
    text-align: center;
}
.texte{
    height:auto;
    color: lightgray;
    width: 100%;
}
h2 {
    text-align: center;
    color: #ff9900;
}

h5 {
    text-align: right;
}

.text{
    text-align: center;
}

.topic {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid black;
    margin: auto;
    height: auto;
    width: 80%;
    background-color: lightgray;
}

.answers {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: auto;
    width: 80%;
}

.date {
    font-style: italic;
}

.name{
    font-weight: bold;
}

h1 {
    text-align: center;
}

.discussion{
    display: flex;
    flex-wrap: wrap;
}

.discussion-infos a{
    color: #ff9900;
    text-decoration: none;
}

.discussion-infos{
    width: 20%;
}