body{
    font-family: 'Muli', sans-serif;
}

header{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

a{
    color: black;
    text-decoration: none ;
}

.ma-maison{
    background-color: lightgrey;
    border: 1px solid black;
    line-height: 100px;
    height: 100px;
    width: 155px;
    text-align: center;
    position: absolute;
    right: 0;
}
nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

nav ul{
    list-style-type: none;
    margin-right: 4%;
}

nav li {
    margin-right: 5%;
    background-color: lightgrey;
    border: 1px solid black;
    line-height: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}
