body{
    font-family: 'Muli', sans-serif;
}

header{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.logo_logo{
    margin-top: 100px;
}

.logo_texte{
    margin-left: 10px;
}

nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

nav a{
    text-decoration: none;
    list-style-type: none;
    margin-right: 2%;
}

nav a li{

    display: block;
    margin-right: 5%;
    background-color: lightgrey;
    border: 1px solid black;
    line-height: 50px;
    width: 100%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    color: black;
}

nav a :hover{
    background-color: lightskyblue;
    box-shadow: 2px 2px;
}
