
header{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

header .logo_logo{
    margin-top: 100px;
    size: 100%;
}

header .logo_texte{
    margin-left: 10px;
    size: 100%;
}

header nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

header nav ul {
    margin-right: 2%;
}

header nav a{
    text-decoration: none;
    list-style-type: none;
}


header nav a li{
    margin-right: 5%;
    background-color: rgb(47,54,67);
    border: 1px solid black;
    line-height: 50px;
    width: 100%;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    color: white;
}

nav a :hover{
    background-color: #006699;
    box-shadow: 2px 2px;
}

