
h1 {
    text-align: center;
}

.nouvelle_discussion {
    text-align: center ;
}

.discussion{
    display: flex;
    flex-wrap: wrap;
}

.discussion-infos a{
    color: #ff9900;
    text-decoration: none;
}

.discussion-infos{
    width: 20%;
}