.principal {
    background-color: #ff9900;
    margin-left: 3%;
    margin-right: 3%;
    padding : 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

form{
    display: flex;
    flex-direction: column;
}

.personnal-informations{
    display: flex;
    justify-content: space-around;
}

.identity{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 1%;
}

.identity input{

    border: 1px solid black;
    font-size: 100%;
    text-align: center;
    line-height: 200%;
    height: 10%;
    margin-bottom: 4%;
}

.facturation-address{
    width: 40%;
    margin-right: 5%;
    margin-top: 1%;
}

.facturation-address h3{
    background-color: white;
    border: 1px solid black;
    height: 15%;
    text-align: center;
    line-height: 170%;
    font-size: 110%;
}

.facturation-address div{
    background-color: white;
    border: 1px solid black;
}

.facturation-address div input , .facturation-address div select{
    margin: 1%;
    font-size: 100%;
    border: 1px solid black;
    background-color: white;
}

.facturation-address div select span{
    color: gold;
}

.inscription-button{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.inscription-button button{
    font-size: 100%;
    width: 15%;
}

.facturation-address div input{
    padding-left: 1%;
}

.use-case a{
   color: blue;
}

.use-case{
    font-size: 110%;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-top: 1%;
}

.use-case input{
    width: 3%;
    margin-top: 2%;
}

.use-case p{
    text-align: center;
}
