
tr th {
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    margin-left:30%;

}

td{
    border: 2px solid black;
    justify-content: center;
    text-align: center;

    border-collapse: collapse;
}


table{
    margin-bottom: 60px;
    display: flex;

    justify-content: center;
    border-collapse: collapse;



}

section{
    width: 50%;
    margin: auto;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}