.principal{
    background-color: lightgrey;
    margin-left: 3%;
    margin-right: 3%;
    padding : 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    border : 1px solid black;

}

.roomCategory{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.salon, .cuisine, .chambre, .salle-a-manger, .salle-de-bain, .autres-pieces{
    color: black;
    text-decoration: none;
    text-align: center;
    border : 1px solid black;

}

.roomCategory .salon{
    background: url("../../ressources/pictures/salon.jpg");
}
.roomCategory .cuisine{
    background: url("../../ressources/pictures/cuisine.jpg");
}
.roomCategory .chambre{
    background: url("../../ressources/pictures/chambre.jpg");
}
.roomCategory .salle-a-manger{
    background: url("../../ressources/pictures/salleamanger.jpg");
}
.roomCategory .salle-de-bain{
    background: url("../../ressources/pictures/salledebain.jpg");
}
.roomCategory .autres-pieces{
    background: url("../../ressources/pictures/bureau.jpg");
}







.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
