
.formulairemodifiermotdepasse{
  display: flex;
}

.container-modifmdp{

  background-color: lightgrey;


  width:50%;
  margin:auto;
  margin-top: 2%;
  margin-bottom: 2%;

  border: 1px black solid;
  padding: 2%;

}

.elementsformulairemodifiermotdepasse
{
  width:50%;
  margin:auto;
}

.titlemodifiermotdepasse{

  background-color: white;
  border: 1px black solid;

  padding: 0.5%;
  width:36%;
  margin: auto;
}

.notemdp{
  background-color: white;
  border: 1px black solid;

  padding: 1%;
  width:36%;
  margin: auto;
}