h1{
    display: flex;
    height: 8%;
    width : 23%;
    text-align: center;
    border: 2px solid black;

}

.formulairemonabonnement{
    display:flex;
    justify-content: center;
}


h2{
    height: 5%;
    width:20%;
    font-size: 100%;
    margin:auto;
    justify-content: center;
    border: 2px solid black;

}



