h1{
    display: flex;
    height: 8%;
    width : 23%;
    text-align: center;
    border: 2px solid black;

}

.formulairemonabonnement{
    display:flex;
    justify-content: center;
}


h2{
    display: flex;
    height: 5%;
    width:20%;
    margin:auto;
    justify-content: center;
    text-align: center;
    border: 2px solid black;

}

.temperature{
    display: flex;
    border: 2px solid black;
    font-size: small;
}

.movement{
    display: flex;
    border: 2px solid black;
    font-size: small;
}


