h1{
    text-align:center;
}

 .formulairemonprofil{
     display: flex;
     justify-content: center;
 }


 .elementsformulairemonprofil{
     display: block;
     margin: auto;
     width: 50%;
     border-radius: 10px;
 }

 .valider{
     color: green;
 }

.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 700px; /* Could be more or less, depending on screen size */
    height: 300px;
    border-radius: 10px;
    font-size: small;

}

.formulairemonprofil{
    width: 600px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

section p{
    text-align: center;
}

section {
    text-align: center;
}

section button{
    margin-bottom: 30px;
}

.Nom{
    display: flex;
    margin-left: 30%;
    font-size: small;
}

.Prénom{
    display: flex;
    margin-left: 30%;
    font-size:small;
}
.email{
    display: flex;
    margin-left: 30%;
    font-size:small;

}

.Numérorue{
    display: flex;
    margin-left: 30%;
    font-size: small;
}
.Numérotel{
    display: flex;
    margin-left: 30%;
    font-size: small;
}

.addresse{
    display: flex;
    margin-left: 30%;
    font-size: small;
}
.Ville{
    display: flex;
    margin-left: 30%;
    font-size: small;
}
.codepostal{
    display: flex;
    margin-left: 30%;
    font-size: small;
}

.Rue {
    display: flex;
    margin-left: 30%;
    font-size: small;

}

.Numérotel, .Rue, .codepostal, .Ville, .email, .Numérorue, .Prénom, .Nom, .addresse{

    text-align: justify;
    position: absolute;
    right: 50%;
    margin-bottom: 30px;
    font-family: "Berlin Sans FB";
}
