h1{
    text-align: center;
}
.display-sallesamanger{
    background-color: lightgrey;
    margin: 1%;
    padding : 1%;
    border : 1px solid black;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

.salle-a-manger-list form{
    background-image: url("../../ressources/pictures/salleamanger2.jpg");
    width: 200%;
    height: auto;
    padding: 2%;
    border : 1px solid black;
    background-size: 100%;
    font-weight: bold;
}

.display-sallesamanger.use-case, .display-sallesamanger.use-case-volets {
    text-align: center;
}

.display-sallesamanger ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.display-sallesamanger li{
    margin-right: 15%;
}

.salle-a-manger-list h4{
    font-weight: bold;
    margin-bottom: 5%;
}

.display-sallesamanger p a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    background-color : #e1e1e1;
    padding: 1%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}