h1{
    text-align: center;
}
.display-sallesamanger{
    background-color: lightgrey;
    margin: auto;
    padding : 1%;
    border : 1px solid black;
    width:90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}
.display-sallesamanger.imagesalleamanger {
    width: 100px;
    height: 100px;
    padding: 1%;
    border : 1px solid grey;

}
.display-sallesamanger.use-case, .display-sallesamanger.use-case-volets {
    text-align: center;
}
